*{
    margin: 0;
    padding: 4px;
}

body{
    background-color: #f0dda8;
}


text{
    font-family: courier;
    font-weight: normal;
    font-style: normal;
    font-size: 10pt;
    background-color: black;
    color: green;
}
