*{
    margin: 0;
    padding: 2px;
}

#center_div{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#Body{
    background-color: #f0dda8;
}

.button{
    backround-color: #FFFFFF
}
